/* Everything already works resposive */
main {
    display: flex;
    justify-content: center;
}

.contactContainer {
    width: 90%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
}

.contactContainer label {
    display: none;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    text-align: center;
    margin-top: 10px;
}

.info p {
    margin: 0;
}

.icon {
    background-color: darkblue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
}

i.material-icons {
    font-size: 32px !important;
    height: 32px;
    width: 32px;
}

.formIntro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    align-items: center;
    text-align: center;
}

.contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: transparent;
}

.inputField, textarea.inputField {
    width: 100%;
    color: white;
    background-color: #1E1E1E;
    border-radius: 10px;
    border: transparent;
    font-size: 16px;
    margin: 10px;
    font-family: 'orbitron', sans-serif;
    padding: 20px;

    box-sizing: border-box;
}

textarea.inputField {
    height: 300px;
}

/* disable focus element when using a field */
input:focus, textarea.inputField:focus {
     outline: none;
}

input::placeholder, textarea.inputField::placeholder {
    color: white;
    padding: 2px;
}

.input-btn {
    font-size: 16px;
    width: 100%;
    padding: 20px;
    margin: 10px;
}

/* Small changes at tablet size(768px) and above */
@media screen and (min-width: 768px) {
    .infoContainer {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        width: 100%;
    }

    .info {
        width: 30%;

    }
}