footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footerContainer {
    display: flex;
}

.footerIcon {
    display: flex;
    justify-content: center;
    min-width: 40px;
    align-items: center;
}

.footerIcon a {
    color: inherit;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .footerContainer {
        justify-content: space-between;
        width: 100vh;
        max-width: 1200px;
    }
}