/*  Globals */

header {
    width: auto;
    background-color: transparent;
    height: auto;
    box-sizing: border-box;
}

.headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px;
    justify-content: space-between;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo img {
    height: 30px;
    width: 30px;
}

.containerNav {
    display: none;
    width: 100vw;
}

nav {
    font-size: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    padding: 10px 2%;
    width: auto;
    background-color: transparent;
    z-index: 999;
    border-bottom: 1px solid #2521A6;
}

nav a:hover {
    border-bottom: 1px solid #141414;
    background-color: #2521A6;
    color: black;
}

/* 320 to 768 */
    nav {
        display: flex;
        flex-direction: column;
    }

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #2521A6;
        margin: 6px 0;
    }


@media screen and (min-width: 768px) {
    header {
        padding: 20px 5%;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: row;
    }

    .headerContainer {
        display: flex;
        max-width: 1200px;
        width: 100%;
        flex-direction: row;
    }

    .containerNav {
        display: flex;
        min-width: 500px;
        width: 0;
    }

    nav {
        min-width: 500px;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }

    nav a {
        text-decoration: none;
        color: white;
        padding: 10px 20px;
        border-bottom: 2px solid transparent;
        background-color: transparent;
    }

    nav a:hover {
        background-color: transparent;
        border-bottom: 2px solid #2521A6;
        color: white;
    }

    .hamburger {
        display: none;
    }
}

