
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    width: 90%;
}

.smallTitle {
    padding: 4px;
    font-size: 20px;
}

.bigTitle {
    padding: 4px;
    font-size: 32px;
}

.about {
    opacity: .9;
}

.more-btn {
    padding: 20px;
    font-size: 16px;
}

.imageHolder {
    width: 90%;
}

/* There is no image yet */
/* img {*/
/*     height: 500px;*/
/*     width: auto;*/
/*}*/


@media screen and (min-width: 1024px) {
    main {
        flex-direction: row;
        justify-content: space-around;
    }

    .info {
        width: 40%;
    }

    .imageHolder {
        width: 40%;
    }

    .bigTitle {
        font-size: 48px;
    }
}