main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 700px;
}

img {
    width: 90%;
}

/* info */
.info {
    width: 100%;
}

.info ul {
    padding: 20px 40px;
    background-color: #1E1E1E;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

}
.item {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    word-wrap: anywhere;
}

/* Go back button at the bottom of the page */
.goBack {
    text-decoration: none;
    color: white;
    background-color: darkblue;
    padding: 20px;
    border-radius: 50%;
}
