/*  Globals */

header {
    width: auto;
    background-color: transparent;
    height: auto;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2%;
}

.containerNav {
    display: none;
    width: auto;
}

nav {
    font-size: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    padding: 10px 2%;
    width: auto;
    background-color: transparent;
    z-index: 999;
    border-bottom: 1px solid #2521A6;
}

nav a:hover {
    border-bottom: 1px solid black;
    background-color: #2521A6;
    color: black;
}

/* 320 to 768 */
    nav {
        display: flex;
        flex-direction: column;
    }

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #2521A6;
        margin: 6px 0;
    }


@media screen and (min-width: 768px) {
    header {
        padding: 20px 5%;
        align-items: center;
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        height: 60px;
    }

    .containerNav {
        display: flex;
        min-width: 500px;
        width: 40vw;
    }

    nav {
        width: 30vw;
        min-width: 500px;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }

    nav a {
        text-decoration: none;
        color: white;
        padding: 10px 20px;
        border-bottom: 2px solid transparent;
        background-color: transparent;
    }

    nav a:hover {
        background-color: transparent;
        border-bottom: 2px solid #2521A6;
        color: white;
    }

    .hamburger {
        display: none;
    }
}

/* 1024 to 1440 */
@media screen and (min-width: 1024px) {
    header {
        padding: 20px 10%;
    }

}
/* 1440+ */
@media screen and (min-width: 1440px) {

}