@import "footer.css";
@import "header.css";

/* Import Orbitron from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');


body {
    background-color: #0C0C0C;
    color: white;
    font-family: 'orbitron', sans-serif;
    margin: 0;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

/* make sure the main always fills the left over space between the header and footer */
main {
    flex: 1 0 auto;
}

/* basic button layout */
.btn {
    background-color: darkblue;
    color: white;
    border-radius: 10px;
    border: none;
    font-family: 'orbitron', sans-serif;
}
