main {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.intro {
    padding: 20px;
    text-align: center;
}

.projectcontainer {
    width: 90%;
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.projectcontainer a {
    text-decoration: none;
    color: white;
    max-width: 450px;
}

.project {
    background-color: #141414;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 2%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project img {
    object-fit: cover;
    width: 90%;
    height: 90%;
}

/* infoboxes inside the project card */
.infobox {
    display: flex;
    flex-direction: column;
}

.infobox h2 {
    text-align: center;
}

.highlight {
    color: darkblue;
}

.btn-more {
    padding: 10px 40px;
    box-sizing: border-box;
    text-align: center;
}


@media screen and (min-width: 768px) {
    .projectcontainer a {
        width: 90%;
        max-width: 700px;
    }

    .project {
        flex-direction: row;
    }

    .project img {
        width: 35%;
    }

    .infobox {
        padding: 20px;
    }

    .infobox h2 {
        text-align: left;
    }

    .btn-more {
        width: fit-content;
    }
}